<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE mapper
                PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xlc.mapper.UserMapper">

<resultMap id="employeePo" type="com.xlc.pojo.Employee">
    <id column="id" property="id"></id>
    <result column="last_name" property="lastName"></result>
    <result column="email" property="email"></result>
    <result column="gender" property="gender"></result>
    <result column="department" property="department"></result>
    <result column="birth" property="birth"></result>
</resultMap>
<select id="selectAll" resultMap="employeePo">
    select id, last_name, email,gender, department, birth from employeePo;
</select>

</mapper>